# Backend - Maven
backend/target/
target/
out/

# Java
*.class

# H2 database
data/

# Logs
spring-error.txt

# IDE
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.env.*
# Node
node_modules/
dist/

# npm
npm-debug.log*
backend/src/main/resources/application.properties